
			
			body {
				  background-image: url("home_background.jpg");
				  background-repeat: no-repeat;
				  background-position: 0 68;
				  background-attachment: scroll;
				  background-size: 100% 370px;
				}
			
			ul{
				list-style-type: none;
			    margin: 0px 120px 0px 97px;
				overflow: hidden;
				background-color: white;
				position: sticky;
				top: 0;
				height:60px;
				border-radius: 30px 30px 30px 30px;
			}
			
			li {
				  float: left;
			}

			li a {
				display: block;
				color: black;
				font-size: 20px;
				font-family: georgia;
				text-align: center;
				padding: 20px 20px;
				text-decoration: none;
				margin-top:0px;
			}
			
			li a:hover {
				background-color: GoldenRod ;
				color: white;
				font-weight:bold;
			}
			
			.logo{
				width:80px;
				height:50px;
				border:0;
				margin-top:-7px;
				margin-left:-30px;
			}
			
			li a.logo:hover{
				background-color: white;
			}
			
			.active{
				color:DarkGoldenRod;
			}
			
			.grid-container {
			  display: grid;
			  background-color:WhiteSmoke;
			  justify-content: space-evenly;
			  grid-template-columns: 350px 350px 350px;
			  grid-gap: 5px;
			  margin-bottom: 0px;
			  border-bottom:35px solid HoneyDew;
			}

			.grid-container > div {
			  background-color:White;
			  text-align: center;
			  padding: 0px ;
			}
			
			.grid-container > div a {
			  text-decoration: none;
			  color: MediumVioletRed ;
			  font-weight:bold;
			  font-size:14px; 
			  font-family: Arial;
			}
			
			.grid-dinner-show {
			  display: grid;
			  background-color:white;
			  justify-content: space-evenly;
			  grid-template-columns: 40px 600px;
			  grid-gap: 5px;
			  margin: 100px 50px 100px 50px;
			  border: 2px solid Gainsboro ;
			  height: 200px;
			}

			.grid-dinner-show > div {
			  background-color:White;
			  text-align: left;
			  padding: 0px ;
			}
			
			.grid-dinner-show > div a {
			  text-decoration: none;
			  color: MediumVioletRed ;
			  margin-bottom: 30px;
			  font-weight:bold;
			  font-size:14px; 
			  font-family: Arial;
			}
			
			#p_welcom{
				margin-top: 35%;
				text-align: center;
				font-size:36px;
				font-family:Perpetua;
			}

			
			#welcom_msg{
				color: DimGray;
				text-align: center;
				font-size:20px;
				font-family:Calibri;
				margin-top:2px;
				padding-left: 20px;
				padding-right: 20px;
			}
			
			#title{
				text-align: center;
				font-size:24px;
				font-family:verdana;
				margin-top: 0px;
				padding-top: 20px;
			}
			
			#first-title{
				text-align: center;
				font-size:24px;
				font-family:verdana;
				padding-top:30px; 
				margin-top: 50px; 
				border-top: 20px solid HoneyDew;
			}
			
			#dinner_show_title{
				font-size:36px;
				font-family:Perpetua;
				margin-bottom: 0px;
				margin-top:20px;
			}
			
			#dinner_show_description{
				font-size: 18px;
				font-family: Calibri;
			}
			
			.package_description{
				font-size: 18px;
				font-family: Calibri;
				margin-left:50px;
				margin-right:50px;
			}
			
			.package_title{
				font-size: 22px;
				margin-left:50px;
				margin-right:50px;
			}
			
			.grid-card {
			  display: grid;
			  background-color:white;
			  justify-content: space-between;
			  grid-template-columns: 700px 200px;
			  grid-gap: 5px;
			  margin: 20px 50px 20px 50px;
			  border: 2px solid Gainsboro ;
			  height: 150px;
			  padding-left: 20px;
			  padding-bottom: 20px;
			}
			
			.grid-card > div a {
			  text-decoration: none;
			  background-color: MediumVioletRed ;
			  color: white;
			  font-weight:bold;
			  font-size:14px; 
			  font-family: Arial;
			  padding:10px;
			}
			
			.grid-card > div a:hover{
				background-color: FireBrick;
			}
			
			/* Style the footer */
			.footer {
			  background-color: black;
			  text-align: center;
			  color: white;
			  font-family: Calibri;
			  padding-top:10px;
			  height: 50px;
			  margin:0px -5px 0px -5px;
			}
			